 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Press+Start+2P&display=swap');
body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    text-shadow: 1px 1x 2px #000;
}

body h1
{
    font-weight: 300;
    margin: 20px 30px;
}

#main-header
{
    border-bottom: 2px solid #000;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 2px solid #000;
    /* position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    top: 0px; */

}

#top-stories
{
    width: 1000px;
    margin: auto;
    margin-top: 20px;

}

#description
{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;

}

article
{
    width: 300px;
    display:inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin: 0px;
    box-shadow: 2px 2px 2px rgb(156, 27, 27);

}

.article-img
{
    height: 200px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}

.more-link
{
    font-style: italic;
    
}

.bolded-link
{
    font-weight: 900;
}

.more-link.bolded-link
{
    color: rgb(156, 27, 27);
}

/* only applicable to a tag */
a
{
    text-decoration: underline line-through overline;  

}

/* only applicable to p tag */
p
{
    letter-spacing: 1px;
    word-spacing: 10px;
    text-indent: 10px;
    text-align: center;
}

a:hover, a.more-link.bolded-link:hover
{
    font-size: 32px;
    color: #0f0;
}

.my-input
{
    display: block;
    width: 90%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px 20px;
    border: 1px solid #67abc8;
}

.my-input:focus
{
    background: rgb(136, 215, 239);
    color: #000;
    outline: none;
    border: 1px solid #000;
}

article:active
{
    opacity: .4;
}

.my-text
{
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    border: 2px solid #000;
}